.body-block {
  width: 100%;
  max-width: 100%;
  min-width: 250px;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#app {
  background-color: #F1F1F3;
  width: 100%;
  height: auto;
}

*:not(i) {
  font-family: 'Kanit', 'sans-serif' !important;
}
 
.navbar {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
  width: 80%; 
  margin: auto;
}

.navbar .main-logo {
  width: 100%;
  padding-left: 24px;
}

.navbar .header {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 100%;
  max-width: 138c0px;
}

.navbar .menu {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: .015rem;
  color: #212121;
}

.navbar .menu:hover {
  color: #c00832;
}

.navbar .uk-navbar-container {
  background-color: #FFFFFF !important;
}

.navbar .uk-navbar-nav, .navbar .dropdown {
  margin-right: 24px;
}

.navbar .uk-dropdown {
  background-color: #f9f9f9;
  width: 320px;
}

.navbar .uk-dropdown .menu {
  font-size: 18px;
}


.content {
  /* min-height: calc(100vh - 130px - 403px); */
  min-height: calc(100vh - 301px);
  /* margin: 30px; */
}


.detaillcontent {
  width: 90%;
  margin:0 auto;
}

.uk-table th {
  color: #FFFFFF;
  background-color: #a80228;
}

.uk-button-primary {
  background-color: #c00832;
  color: white;
  margin-right: 20px;
}

.uk-button-primary:hover {
  background-color: #a80228;
}

table .uk-table-hover{
  background-color: #c00832;
}

.page-footer {
  background-color: #F1F1F3;
  width: calc(100% );
  max-width: 100%;
  padding: 64px 0 24px 24px;
  bottom: 0;
}

.show {
  display: block !important;
}

.toggle-usage {
  display: none;
}

.faculty-info p:not(.uk-text-lead) {
  margin: 0;
  font-size: 14px;
}

.faculty-info p.uk-text-lead {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 16px 0;
}

.about .sub-logo {
  max-width: 220px;
  margin-bottom: 24px;
}

.about .contact .contact-text {
  font-size: 1rem;
  margin-bottom: 8px;
}

.about .contact .contact-list li {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
}

.about .contact .contact-list i {
  color: #212121;
  font-size: 22px;
}

.about .contact .contact-list li:not(:first-child) {
  margin-left: 8px; 
}

.about .contact .contact-list {
  list-style: none;
  padding: 0 0 24px 0;
  margin: 0;
}

.about .address .address-list i {
  line-height: 1.5em;
}

.about .address .address-list li {
  padding: 8px 0;
  margin-right: 16px;
}

.about .address .address-list li:not(:last-child) {
  border-bottom: solid 2px #c8c6c6;
}

.about .address .address-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 1380px section */
@media screen and (min-width: 1380px) {
  .navbar {
    height: 130px;
  }

  .navbar .header {
    height: 130px;
    background-color: #fefefe;
  }

  .navbar .uk-navbar-container {
    margin-top: 24px;
  }

}

@media screen and (max-width: 1380px) {
  .navbar {
    height: 80px;
  }

  .navbar .main-logo {
    width: 240px;
    padding-left: 24px;
    margin-top: 20px;
  }

  .navbar .header {
    height: 80px;
    background-color: #fefefe;
  }

  .navbar .uk-navbar-toggle-icon {
    padding: 0;
  }

  .navbar .uk-dropdown {
    width: 100%;
    left: 0 !important;
    margin: 0;
    background-color: #f2f2f2;
  }

}
/* 1280px section */
@media screen and (min-width: 1080px) {
  .footer-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .about {
    width: 320px;
    padding-right: 32px;
    margin-right: 32px;
    border-right: solid 1px #c8c6c6;
  }

  .content {
    min-height: calc(100vh - 351px);
  }

}

@media screen and (max-width: 1380px) {
  .footer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .uk-navbar-right,.mtt{
    margin-top: -5px;
  }
  
}
@media only screen and (max-width: 600px) {
    .uk-navbar-left {
        margin-top: 20px;
    }
    .uk-navbar-right,.mtt{
    margin-top: 5px;
    margin-bottom: -10px;
  }
}
@media only screen and (max-width: 800px) {
    .uk-navbar-left {
        margin-top: 20px;
    }
    .uk-navbar-right,.mtt{
    margin-top: 5px;
    margin-bottom: -10px;
  }
}
@media screen and (max-width: 1600px) {

  .uk-navbar-right,.mtt{
    margin-top: -5px;
  }
  
}
@media screen and (max-width: 360px) {

  .font{
    font-size: 20px;
  }
  .uk-button-primary{
    font-size: 15px;
  }
  
}
.martop{
  margin-top: 36px;
}
.mt{
  margin-top: -30px;
}
.mtt{
  margin-top: 10px;
}
.uk-navbar-right{
  margin-right: 25px;
}
.uk-width{
  margin-top: -5px;
}
.uk-link-reset{
  font-size: 18px;
}