{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title> {% block title %} {% endblock %}</title>
</head>
<body>
<script src="{% static 'css/theme.css' %}"></script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script type="text/javascript">
  axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}'
</script>
<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
<div id="app">
  <div class="uk-position-relative">
    <nav class="uk-navbar-container" uk-navbar="dropbar: true" style="background:linear-gradient(to bottom right,darkred,#990000)" >
      <div class= "first">
    <a href= "{% url 'home' %}">
    <img class="bgFirst" src="{% static 'a.png' %}" width="400" height="80" align="middle" style="margin-top: 10px;"></img>
  </a>
</div>
        <div class="uk-navbar-right" style="margin-right:5%;">
          {% if request.user.is_authenticated %}
            <article class="uk-comment">
              <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <img class="uk-comment-avatar" src="{% static 'img/avatar.png' %}" alt="">
                </div>
                <div class="uk-width-auto">
                  <h4 class="uk-comment-title uk-margin-remove" style="color:white"><a class="uk-link-reset" href="#" > {{user.username}} </a></h4>
                  <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                    <li><a href="#" style="color:white">setting</a></li>
                    <li><a href="{% url 'logout' %}" style="color:white; ">logout</a></li>
                  </ul>
                </div>
              </header>
            </div>
          {% else %}
            <!-- <form action="{% url 'social:begin' 'tu' %}">
              <input class="button123" type="submit" value='TU Login'>
            </form> -->
            <a class="click1"href="{% url 'social:begin' 'tu' %}"  style="color:white;">  แก้ไข  </a>
<!--                         <a style="border-style: dashed solid; padding: 3px;" class="click1" href="{% url 'social:begin' 'tu' %}">แต่งเติม / แก้ไข   </a> -->
          {% endif %}
        </div>
        

    </nav>

</div>
</div>
{% block content %} {% endblock %}
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: function () {
  return {}
  }
})
</script>
{% block script %} {% endblock %}
</body>
</html>
<style>
 .click1{
  float: right;
  margin-top: -60px;

 } 
 .click1:hover{
  color:#FFD700;
}
nav , uk-position-relative{
  display: block;
}
</style>


