
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU</title>
    {% load staticfiles %}   
    <link rel="stylesheet" type="text/css" href="{% static 'home/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/hamburger.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Kanit&amp;subset=thai" rel="stylesheet">
    <script src="{% static 'home/uikit.min.js' %}"></script>
    <style>
    </style>
</head>
<body style="font-family: Kanit">
    <br>
<div class="uk-grid-divider uk-child-width-expand@s" uk-grid style="background-color:#F1F1F3;color:white;margin-top:20px;">
        <div style="margin-left: 5%">

          <div style="min-width: 40% ;max-width:100%;margin-left: 10% ;margin-top:30px;">
          <p ><img src="{% static 'home/pictures/scitu_logo.svg' %}" style="width:200px;height: 50px;"></img></p>
          <span class="xxx" style="color: black; font-weight: static;">ติดต่อธรรมศาสตร์</span ></div>
           <div style="width: 80%;">
            <ul >
            <li style="display: inline-block;margin-right: 10px;"><a href="https://www.facebook.com/thammasat.uni/"><img src="{% static 'home/pictures/f.png' %}" width="22" height="22"></img></a></li>
            <li style="display: inline-block;margin-right: 10px;"><a href="https://www.youtube.com/user/PRTHAMMASAT" ><img src="{% static 'home/pictures/y.png' %}" width="22" height="22"></img></a></li>
            <li style="display: inline-block;margin-right: 10px;"><a href="https://twitter.com/thammasat_uni"><img src="{% static 'home/pictures/t.png' %}" width="22" height="22"></img></a></li>
            <li style="display: inline-block;margin-right: 10px;"><a href="https://www.instagram.com/thammasat_official/"><img src="{% static 'home/pictures/i.png' %}" width="22" height="22"></img></a></li>

            
            <div style="min-width: auto ;max-width:auto;margin-top:5px;" ><br><br>
            <div style="border-bottom: solid 1px   #b3b3cc ; min-width: auto ;max-width:200%; padding-bottom:10px;">
            <input value="ท่าพระจันทร์"  id="show0" style="display: inline;color: black;height: 20px;width: 110px;cursor: pointer;outline: none;">  
            <input onclick="myFunction0()" id="hide0"   value ="+"style="font-size:20px; display: inline; width: 40px;border: none ;background-color: #F1F1F3;outline: none;margin-right: 0.1%;float: right;height: 20px;color:#b3b3cc;cursor: pointer;">
            <p class="uk-grid-divider uk-child-width-expand@s" style="font-size:14px;; display: none;color:gray;margin-left: 5px;" id="hide00"  > 2 ถนนพระจันทร์ แขวงพระบรมมหาราชวัง, เขตพระนคร, กรุงเทพฯ 10200, ประเทศไทย.<br>
            Tel. +66 (0) 2613 3333 </p>   </div></div>

            <div style="min-width: auto ;max-width:auto;" ><br>
            <div style="border-bottom: solid 1px #b3b3cc ; min-width: auto ;max-width:100%; padding-bottom:10px;">
            <input onclick="myFunction1()" id="show1" value="ศูนย์รังสิต" style="display: inline;color: black;height: 20px;cursor: pointer;outline: none;width: 110px;font-family: Kanit">
            <input onclick="myFunction1()" id="hide1"  value ="+"style="font-size:20px;; display: inline; width: 40px;border: none ;background-color: #F1F1F3;outline: none;margin-right: 0.1%; float: right;height: 20px;color:#b3b3cc;cursor: pointer;">
            <p class="uk-grid-divider uk-child-width-expand@s" style="font-size:14px; display: none;color:gray;margin-left: 5px;" id="hide11" > 99 หมู่ 18, ถ.พหลโยธิน,คลองหลวง, รังสิต, ปทุมธานี, 12121 ประเทศไทย.<br>
            Tel. +66 (0) 564 4440-79</p>   </div></div>

            <div style="min-width: auto ;max-width:auto;"  ><br>
            <div style="border-bottom: solid 1px #b3b3cc ; min-width: 110px ;max-width:100%;padding-bottom:10px;">
            <input onclick="myFunction2()" id="show2" value="ศูนย์พัทยา" style="display: inline;color: black;height: 20px;cursor: pointer;outline: none;width: 110px;"> 
            <input onclick="myFunction2()" id="hide2"  value ="+"style="font-size:20px;; display: inline; width: 40px;border: none ;background-color: #F1F1F3;outline: none;margin-right: 0.1%; float: right;height: 20px;color:#b3b3cc;cursor: pointer;">
            <p class="uk-grid-divider uk-child-width-expand@s" style="font-size:14px;; display: none;color:gray;margin-left: 5px;" id="hide22" >อาคารบรรยายรวม เลขที่ 39/4 หมู่ 5 ต.โปร่ง อ.บางละมุง จ.ชลบุรี 20150<br>
            Tel. +66 (0) 3825 9050-55</p> 
            </div></div>


            <div style="min-width: 80% ;max-width:auto;" ><br>
            <div style="border-bottom: solid 1px #b3b3cc ; min-width: auto ;max-width:100%; padding-bottom:10px;">
            <input onclick="myFunction3()" id="show3" value="ศูนย์ลำปาง" style="display: inline;color: black;height: 20px;cursor: pointer;outline: none;width: 110px;"> 
            <input onclick="myFunction3()" id="hide3"  value ="+"style="font-size:20px;; display: inline; width: 40px;border: none ;background-color: #F1F1F3;outline: none;margin-right: 0.1%; float: right;height: 20px;color:#b3b3cc;cursor: pointer;">
            <p class="uk-grid-divider uk-child-width-expand@s" style="font-size:14px; display: none;color:gray;margin-left: 5px;" id="hide33" >248 หมู่ 2 ถ.ลำปาง-เชียงใหม่ ต.ปงยางคก อ.ห้างฉัตร จ.ลำปาง 52190<br>

            Tel. +66 (0) 5423-7999 โทรสาร +66 (0) 5423-7999 ต่อ 5119</p> 
            </div></div>

          </ul>
      </div>
        </div>
        <div style="text-align:left;margin-top:30px; margin-bottom:10px;color:gray;margin-left: 30px;">
          <span class=".uk-text-lead" style="color: black">ติดต่อสอบถาม</span><br>
          <span style="color: gray; font-size: 13px;">งานบัณฑิตศึกษา ชั้น3 อาหารบรรยายรวม 5
          <br> คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์</span>
          <br>
        </div>
        <div style=" margin-top:30px;color:#gray;margin-left: 30px;">
          <p >
            <i class="fa fa-home"></i> <span style="color: black">ที่อยู่ </span> <br><span style="color: gray; font-size: 13px;">99 ม.18 ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี 12121</span><br>
            <br>
            <i class="fa fa-phone"></i> <span style="color: black">โทรศัพท์ </span> <br> <span style="color: gray; font-size: 13px;">02-5644490 ต่อ 2094</span><br>
            <br>
            <i class="fa fa-envelope"></i><span style="color: black"> อีเมล์ </span>  <br><span style="color: gray; font-size: 13px;">grad@sci.tu.ac.th</span>

          </p>
          <br>
        </div>

    </div>


<div style="background-color: #F1F1F3 ;text-align: right;color: black;width: 100%;font-size:10px;font-weight: bold; margin-top: 0px;height: 15%">
    <a href="#" style="color: #c00832 ;text-decoration: underline;font-size: 14px;margin-right: 20px;">Privacy</a>
    <a href="#" style="color: #c00832 ;text-decoration: underline;font-size: 14px;margin-right: 20px;">Terms & Conditions</a>


    <p>© 2018 Thammasat University</p></div>


</body>
</html>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var cnt0 = document.getElementById('hide0').value;
var cnt1 = document.getElementById('hide1').value ;
var cnt2 = document.getElementById('hide2').value ;
var cnt3 = document.getElementById('hide3').value ;




   
    $("#show0").click(function(){
        if(cnt0 == '+'){
        $("#hide00").show(500);
        cnt0 = document.getElementById('hide0').value  = "-";
        }else{
        $("#hide00").hide(500);
        cnt0 = document.getElementById('hide0').value  = "+";
        }
    });
    $("#hide0").click(function(){
        if(cnt0 == '+'){
        $("#hide00").show(500);
        cnt0 = document.getElementById('hide0').value  = "-";
        }else{
        $("#hide00").hide(500);
        cnt0 = document.getElementById('hide0').value  = "+";
        }
    });


        $("#show1").click(function(){
        if(cnt1 == '+'){
        $("#hide11").show(500);
        cnt1 = document.getElementById('hide1').value  = "-";
        }else{
        $("#hide11").hide(500);
        cnt1 = document.getElementById('hide1').value  = "+";
        }
    });
    $("#hide1").click(function(){
        if(cnt1 == '+'){
        $("#hide11").show(500);
        cnt1 = document.getElementById('hide1').value  = "-";
        }else{
        $("#hide11").hide(500);
        cnt1 = document.getElementById('hide1').value  = "+";
        }
    });



        $("#show2").click(function(){
        if(cnt2 == '+'){
        $("#hide22").show(500);
        cnt2 = document.getElementById('hide2').value  = "-";
        }else{
        $("#hide22").hide(500);
        cnt2 = document.getElementById('hide2').value  = "+";
        }
    });
    $("#hide2").click(function(){
        if(cnt2 == '+'){
        $("#hide22").show(500);
        cnt2 = document.getElementById('hide2').value  = "-";
        }else{
        $("#hide22").hide(500);
        cnt2 = document.getElementById('hide2').value  = "+";
        }
    });



        $("#show3").click(function(){
        if(cnt3 == '+'){
        $("#hide33").show(500);
        cnt3 = document.getElementById('hide3').value  = "-";
        }else{
        $("#hide33").hide(500);
        cnt3 = document.getElementById('hide3').value  = "+";
        }
    });
    $("#hide3").click(function(){
        if(cnt3 == '+'){
        $("#hide33").show(500);
        cnt3 = document.getElementById('hide3').value  = "-";
        }else{
        $("#hide33").hide(500);
        cnt3 = document.getElementById('hide3').value  = "+";
        }
    });
    

   


// function myFunction0() {
//     var x = document.getElementById("hide00");
//     if (x.style.display === "none") {
//         x.style.display = "block";
//         document.getElementById('hide0').value  = "-";
//     } else {
//         x.style.display = "none";
//         document.getElementById('hide0').value  = "+";
//     }
// }

// function myFunction1() {
//     var x = document.getElementById("hide11");
//     if (x.style.display === "none") {
//         x.style.display = "block";
//         document.getElementById('hide1').value  = "-";
//     } else {
//         x.style.display = "none";
//         document.getElementById('hide1').value  = "+";
//     }
// }

// function myFunction2() {
//     var x = document.getElementById("hide22");
//     if (x.style.display === "none") {
//         x.style.display = "block";
//         document.getElementById('hide2').value  = "-";
//     } else {
//         x.style.display = "none";
//         document.getElementById('hide2').value  = "+";
//     }
// }

// function myFunction3() {
//     var x = document.getElementById("hide33");
//     if (x.style.display === "none") {
//         x.style.display = "block";
//         document.getElementById('hide3').value  = "-";
//     } else {
//         x.style.display = "none";
//         document.getElementById('hide3').value  = "+";
//     }
// }
</script>